@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<FX.Core.Models.Microsite.Components.ITwoColumnImageTextContentBlock>

@{ 
    string imageSrc = (Model != null && Model.Image != null) ? Model.Image.Src : "";
}

@if (this.IsInEditingMode)
{
    <h2 style="text-align:center">[Two Column Image Text Content Block Component]</h2>
    if (Model == null)
    {
        <p>No component datasource found</p>
    }
}
@if (Model != null)
{
<section class="bg-dark-turqoise benefits-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <a href="@imageSrc" class="popup">
                    @RenderImage(Model, m => m.Image, new { @class = "img-responsive benefit-graphic" }, isEditable: true)
                </a>
            </div>
            <div class="col-md-5 col-sm-12">
                <h3>@Editable(Model, m => m.RightTitle)</h3>
                <div class="rte">
                    @Editable(Model, m => m.RightText)
                </div>
                @using (BeginRenderLink(Model, m => m.ButtonLink, new { @class = "btn btn-primary btn-contact" }, isEditable: true))
                {
                    @Editable(Model, m => m.ButtonText)
                }
            </div>
            
        </div>
    </div>
</section>

}