@using Sitecore.Mvc
@using FX.Core.GlassMapper
@using FX.Core.Utils
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<FX.Core.Models.Products.IProductCategory>

@{
	bool isFirstItem = "1".Equals(this.ViewData["isFirstItem"]);
}

@functions{
	public string GetOptionValue(Guid sourceId, Guid id)
	{
		return string.Format("{0}_{1}_{2}", Util.GetNormalizedId(Model.CategorySource), Util.GetNormalizedId(sourceId), Util.GetNormalizedId(id));
	}
}

<div class="filter-group @FXGlassView.GetCategoryValue(Model)" @(isFirstItem ? "style= display:block" : "")>
	@if (Model.HasFilter())
	{
		<div class="basic-filters">
			@foreach (var filter in Model.FilterItems.Where(i=>i.FilterSource!=null))
			{
				<div class="filter-subgroup">
					<h4>@filter.FilterControlLabel</h4>

					<div class="filter-subgroup__fields">
						@foreach (var filterItems in filter.FilterSource.TaxonomyItems)
						{
							<div class="checkbox">
								<label><input name="features" type="checkbox" value="@GetOptionValue(filter.FilterSource.Id, filterItems.Id)" />@("$name".Equals(filterItems.TaxonomyItemName) ? filterItems.GetDisplayName() : filterItems.TaxonomyItemName)</label>
							</div>
						}
						<div class="checkbox">
							<label><input type="checkbox" data-scope="all" />@filter.FilterSelectAllLabel</label>
						</div>
					</div>
				</div>
			}
		</div>
	}

	@if (Model.HasAdvancedFilter())
	{
		<a href="#" class="advanced-options-toggle">@Editable(Model, x => x.AdvFilterLabel)<i class="icon icon-plus"></i></a>

	<!-- Advanced Filters -->
		<div class="advanced-filters">
			@foreach (var filter in Model.AdvFilterItems)
			{
				<div class="filter-subgroup">
					<h4>@filter.FilterControlLabel</h4>

					<div class="filter-subgroup__fields">
						@foreach (var filterItems in filter.FilterSource.TaxonomyItems)
						{
							<div class="checkbox sdf">
								<label><input name="features" type="checkbox" value="@GetOptionValue(filter.FilterSource.Id, filterItems.Id)" />@("$name".Equals(filterItems.TaxonomyItemName) ? filterItems.GetDisplayName() : filterItems.TaxonomyItemName)</label>
							</div>
						}
						<div class="checkbox">
							<label><input type="checkbox" data-scope="all" />@filter.FilterSelectAllLabel</label>
						</div>
					</div>
				</div>
			}
		</div>
	<!-- End: Advanced Filters -->
	}
</div>
