@using Sitecore.Mvc
@using System.Web.Mvc.Html
@using FX.Core
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<FX.Core.Models.Page.IStandardPage>
<div class="main-content layout-article">
    @Html.Sitecore().Rendering(FX.Core.Keys.RenderingItems.Breadcrumb, FX.Core.Utils.Util.DefaultRenderingCacheParameter)
    <div class="top-banner">
        @Html.Sitecore().Rendering(FX.Core.Keys.RenderingItems.HeroBanner, FX.Core.Utils.Util.DefaultRenderingCacheParameter)
    </div>

    <aside class="layout-side layout-side--left article-aside">
        <div class="social-aside">
            @Html.Partial("~/Views/FX/Shared/AddThis.cshtml")
        </div>
    </aside>

    <article class="layout-main">
        @Html.Sitecore().Placeholder("sectionPlaceholder")
    </article>

    <aside class="layout-side">
        @Html.Sitecore().Rendering(FX.Core.Keys.RenderingItems.SiblingNavigation, FX.Core.Utils.Util.DefaultRenderingCacheParameter)
        @if (this.IsInEditingMode)
        {
            <h1>[Side Placeholder]</h1>
        }
        @Html.Sitecore().Placeholder("rightSidePlaceholder")
    </aside>
    
</div>
<div class="layout-bottom">
    <section class="section">

        @if (this.IsInEditingMode)
            {
            <h2 style="text-align:center">[Bottom Placeholder]</h2>
        }
        @Html.Sitecore().Placeholder("bottomPlaceholder")
    </section>
</div>

